@font-face {
  font-display: swap;
  font-family: 'ApfelGrotezk Regular';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/ApfelGrotezk-Regular.woff2') format('woff2'),
    url('/fonts/ApfelGrotezk-Regular.otf') format('otf');
}

@font-face {
  font-display: swap;
  font-family: 'ApfelGrotezk Medium';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/ApfelGrotezk-Mittel.woff2') format('woff2'),
    url('/fonts/ApfelGrotezk-Mittel.otf') format('otf');
}
